/* Light Mode */
body.light-mode {
    background-color: #f8f8f8;
    color: #333;
}
body.light-mode .portfolio-item {
    background-color: #fff;
    color: #333;
}
body.light-mode header {
    background-color: #007BFF; /* Background color for the header in light mode */
    color: #fff; /* Text color for the header in light mode */
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}
body.dark-mode .portfolio-item {
    background-color: #444;
    color: #fff;
}
body.dark-mode header {
    background-color: #222; /* Background color for the header in dark mode */
    color: #fff; /* Text color for the header in dark mode */
}


header {
    background-color: #007BFF;
    color: #fff;
    padding: 60px 0;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}



/* Remove default link styles */
.portfolio-link {
    text-decoration: none;
    color: inherit;
    transition: none;
}

/* Change cursor on hover to indicate the link */
.portfolio-link:hover {
    cursor: pointer;
}
.portfolio-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.portfolio-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}
.portfolio-content {
    padding: 20px;
}
.portfolio-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.portfolio-description {
    font-size: 16px;
}
